body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: #e0e0e0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    background-color: #3a4452;
    padding: 20px;
    border-radius: 38px;
    background: #e0e0e0;
    box-shadow: 6px 6px 13px #acacac,
    -6px -6px 13px #ffffff;
}
.calculator form input {
    border: 0;
    width: 70px;
    height: 70px;
    margin: 8px;
    background: #e0e0e0;
    border-radius: 15px;
    box-shadow: 6px 6px 12px #989898, -6px -6px 12px #ffffff;
    font-size: 20px;
    transition: 0.7;
    -webkit-transition: 0.7;
    -moz-transition: 0.7;
    -ms-transition: 0.7;
    -o-transition: 0.7;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.calculator form input:hover{
    background-color: rgba(255, 255, 255, 0.548);
}
.calculator form  .ac,
.calculator form  .del{
    background-color: #00ffff42;
}
.calculator form .display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}
.calculator form .display input{
   text-align: right;
   flex: 1;
   font-size: 45px;
   border: 0;
   outline: 0;
   box-shadow: none;
} 
.calculator form .display input:hover{
    background-color:#e0e0e0;;
}
.calculator form .equal{
    width: 160px;
    background-color: rgb(51 55 61 / 59%);
    box-shadow: 7px 7px 16px #989898, 3px -5px 17px #ffffff;
    color: white;
}
.calculator form .equal:hover{
    background-color: rgb(255 255 255 / 28%);
    color: black;
}